:root {
  --bg-color: #f0f8ff;
  --bg-footer: #4f4f4f;
}

body::before {
  display: block;
  content: "";
  height: 55px;
}

.object-fit-cover {
  object-fit: cover;
}

.h1-max-width {
  max-width: 500px;
}

.p-max-width {
  max-width: 650px;
}

.sldier-height {
  height: 100%;
}

.how-it-works {
  background-color: var(--bg-color);
}

.features {
  background-color: var(--bg-color);
}

.footer {
  background-color: var(--bg-footer);
}

.hero {
  width: 100%;
  height: 500px;
  position: relative;
}

.hero::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
}

.hero-bg-color {
  background: linear-gradient(
    0deg,
    rgba(1, 174, 244, 0.3) 0%,
    rgba(1, 174, 244, 1) 100%
  );
}

.icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container-img {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.trusted-logo {
  width: 100%;
  max-width: 250px;
}

/* Media Query */
@media (max-width: 760px) {
  .logo {
    width: 100px;
  }
  .hero {
    width: 100%;
    height: 280px;
  }

  .hero h2 {
    font-size: 22px;
  }

  .hero h3 {
    font-size: 18px;
  }

  .p-max-width {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .img-max-width {
    width: 50%;
    margin: 0 auto;
  }

  .my-centered-text {
    text-align: center;
  }
}
