:root {
  --bg-color: #f0f8ff;
  --bg-footer: #4f4f4f;
}

body::before {
  display: block;
  content: "";
  height: 85px;
}

.object-fit-cover {
  object-fit: cover;
}

.h1-max-width {
  max-width: 500px;
}

.p-max-width {
  max-width: 650px;
}

.sldier-height {
  height: 100%;
}

.how-it-works {
  background-color: var(--bg-color);
}

.features {
  background-color: var(--bg-color);
}

.footer {
  background-color: var(--bg-footer);
}

.hero {
  width: 100%;
  height: 500px;
}

.hero-bg-color {
  background: linear-gradient(
    0deg,
    rgba(1, 174, 244, 0.3) 0%,
    rgba(1, 174, 244, 1) 100%
  );
}

.icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container-img {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.trusted-logo {
  width: 100%;
  max-width: 250px;
}

@media (max-width: 700px) {
  .hero {
    width: 100%;
    height: 280px;
  }

  .hero h2 {
    font-size: 22px;
  }

  .hero h3 {
    font-size: 18px;
  }
}

/* Carousel */
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
