:root {
  --bg-color: #f0f8ff;
}

body::before {
  display: block;
  content: "";
  height: 120px;
}

.object-fit-cover {
  object-fit: cover;
}

.h1-max-width {
  max-width: 500px;
}

.sldier-height {
  height: 100%;
}

.how-it-works {
  background-color: var(--bg-color);
}

/* Carousel */
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
